<table *ngIf="postsService.posts.length">
  <thead><tr><th>id</th><th>title</th></tr></thead>
  <tbody>
    <tr *ngFor="let post of postsService.posts; let even = even; let odd = odd" [ngClass]="{'even': even}">
      <td>{{ post.id }}</td>
      <td>
        <span>{{ post.title }}</span>
          <span>
          <button mat-icon-button aria-label="Example icon-button with a heart icon">
            <mat-icon (click)=deleteRow(post.id)>delete</mat-icon>
          </button>
        </span>
      </td>
    </tr>
  </tbody>
</table>
